html {
    height: 100%;
    background-color: black;
}
body {
    height: 100%;
}

#root {
    height: 100%;
    color: limegreen;
    font-family: monospace;
    font-size: large;
}

a:link {
    color: #10fdff;
}

a:visited {
    color: lightgreen;
}

a:hover {
    color: darkgreen;
}

a:active {
    color: darkgreen;
}

#console-container {
    white-space: pre-wrap;
}

#console-input {
    white-space: pre-wrap;

    width: calc(100% - 20px);
    background: inherit;
    left: 0px;
    margin: 0px;
    padding: 0px;
    color: inherit;
    font: inherit;
    border: none;
    float:right;
}

#console-prompt {
    min-width: 20px;
    float:left;
}

#console-input:focus {
    outline: none;
}

.term-error {
    color: red;
}