@font-face {
    font-family: 'TerminalMono';
    src: url('./font/DroidSansMono.woff2') format('woff2'),
        url('./font/DroidSansMono.woff') format('woff'),
        url('./font/DroidSansMono.ttf')  format('truetype'),
        url('./font/DroidSansMono.svg#DroidSansMono') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: url("./img/arch.png") fixed;
    font-family: TerminalMono, monospace;
    line-height: 1.4;
}

h1 {font-size: xxx-large;}
h2 {font-size: xx-large;}
h3 {font-size: x-large;}
h4 {font-size: large;}
h5 {font-size: medium;}
h6 {font-size: small;}

#root {
    background: inherit;
    height: 100%;
}

.slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    -moz-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;


    &:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    &::-webkit-slider-thumb {
        appearance: none;
        width: 16px; /* Set a specific slider handle width */
        height: 16px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
        border-radius: 2px;
    }

    &::-moz-range-thumb {
        appearance: none;
        width: 16px; /* Set a specific slider handle width */
        height: 16px; /* Slider handle height */
        background: #04AA6D; /* Green background */
        cursor: pointer; /* Cursor on hover */
        border-radius: 2px;
    }
}
